* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  max-width: 1200px;
  background-color: #fdfcbb;
}

ul {
  list-style: none;
}
